<html>
	<head>
		<title>Rose's blog</title>
	</head>
	<body>

		<div>
			<h1><a href="">Rose's blog</a></h1>
		</div>

		<div>
			<p>Published: 9.23.2016, 2:03 PM</p>
			<h2><a href="">My first post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lobortis tellus. Ut sit amet lorem quis nulla tempus pulvinar tincidunt in diam. Ut nec justo blandit, hendrerit metus ac, commodo erat. Cras sagittis est vitae auctor aliquet. Donec vitae sapien sapien. Etiam porttitor nisi sit amet elit euismod, vitae elementum justo dapibus. Vivamus tempus feugiat ex. Suspendisse ac magna vulputate arcu venenatis posuere. Vivamus a nisi nibh. Maecenas consectetur feugiat velit, sed vestibulum risus consectetur.</p>
		</div>

		<div>
			<p>Published: 9.24.2016, 2:05 PM</p>
			<h2><a href="">My second post</a></h2>
			<p>Greetings to all! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lobortis tellus. Ut sit amet lorem quis nulla tempus pulvinar tincidunt in diam. Ut nec justo blandit, hendrerit metus ac, commodo erat. Cras sagittis est vitae auctor aliquet. Donec vitae sapien sapien. Etiam porttitor nisi sit amet elit euismod, vitae elementum justo dapibus. Vivamus tempus feugiat ex. Suspendisse ac magna vulputate arcu venenatis posuere. Vivamus a nisi nibh. Maecenas consectetur feugiat velit, sed vestibulum risus consectetur.</p>
		</div>
	</body>
</html>